.stApp {
    background-color: #ffffff !important;
}

[data-testid="stSidebar"] {
    background-color: #ffffff !important;
}

.card {
    background: #ffffff;
    color: #000000;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    border-left: 6px solid #F6EC35;
    /* LEGO yellow accent */
    margin-bottom: 25px;
    min-height: 200px;
}

.tall-card {
    min-height: 430px !important;
}

.flexi-card {
    background: #ffffff;
    color: #000000;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    border-left: 6px solid #F6EC35;
    /* LEGO yellow accent */
    margin-bottom: 25px;
}